*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_cartPage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_cartContainer{
    width: 98%;
    height: 100%;
}
.CheckoutForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.checkout_div{
    padding: 10px;
    margin-top: 20vh;
    width: 80%;
    height: 40vh;
}
.dummy_div{
    padding: 10px;
    border: 1px solid black;
}
.second_div{
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px ;
}
.button_div{
    width: 100%;
    padding: 20px;
}
.Continue_link{
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    padding: 10px 20px;
}
.Total_div{
    width: 100%;
}
.First_table{
    font-size: 20px;
    width: 100%;
    height: 70px;   
    text-align: left;         
}
.First_table :nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}
.tabel_row{
    height: 100%;
}
.Submit_btn{
    background-color: yellow;
    cursor: pointer;
    padding: 7px 30px;
    border-radius: 10px;
    border: none;
}
.second_row{
    margin-top: 20px;
    text-align: center;
    height: 100px;
}
.second_row tr td{
    width: 250px;
}
.td_image{
    width: 210px;
    height: 150px;
}
.second_row tr td:nth-child(1){
    text-align: center;
}
input[type=number]{
    width: 40px;
    padding: 5px;
}