*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_nav{
    z-index: 199999;
    background-color: black;
    height: 13vh;
    color: aliceblue;
    position: fixed;
    width: 100%;
}
.IfImg{
    width: 65px ;
    height: 65px;
    border-radius: 50%;
    margin-top: 10px;
}
.sub_NavContainer{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.logo_design{
    width: fit-content;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main_list{
    width: 100%;
    height: 100%;
}
.main_list ul{
    float: right;
    width: fit-content;
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-right: 5%;
    font-size: 20px;
}
.main_list ul li{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav_link{
    text-decoration: none;
    color: aliceblue;
}
.fa-user{
    border: 1px solid aliceblue;
    width: 40px;
    height: 40px;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 50%;
}
.fa-user:hover{
    color: aqua;
    border-color: aqua;
}
.button_toggle{
    font-size:30px;
    display: none;
}
.main_list ul li:not(:last-child):hover{
    border-bottom: 2px solid aqua;
}
@media screen and (max-width:711px){
    .sub_NavContainer{
        display: block;
    }
    .logo_design{
        width: 100%;
        justify-content: space-between;
    }
    .logo_design h1{
        margin-left: 30px;
    }
    .main_list{
        display: block;
    }
    .IfImg{
        width: 200px;
        height: 200px;
    }
    .main_list ul{
        float: none;
        width: 60%;
        position: absolute;
        left: -1000px;
        transition: all 1s ease-in-out;
        text-align: center;
        background-color: black;
        display: block;
        height: 87vh;   
    }
    .main_list ul li {
        height: auto;
        padding: 40px;
    }
    .fa-user{
        margin-left: auto;
        margin-right: auto;
    }
    .button_toggle{
        color: aliceblue;
        background-color: black;
        border: none;
        margin-right: 30px;
        display: block;
    }
}