*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Footer-container{
    background-color: black;
    color: white;
    width: 100%;
}
.Footer-Sub{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Footer-Sub-1, .Footer-sub-3{
    width: 320px;
    padding: 1rem;
    text-align: center;
}
.Links-ul{
    margin-top: 5px;
    list-style: none;
}
.Links-ul li a{
    text-decoration: none;
}
.Links-ul li{
    padding: 0.3rem;
}
.Links-ul li a:hover,
.TermsUl li a:hover{
    color: red;
}
.Footer-Sub-2{
    width: 320px;
    padding: 1rem;
}
.Footer-Sub-2 h2, 
.Footer-Sub-2 p,
.Footer-Sub-2 h3, 
.Social-icons,
.CopyRight{
    margin-top: 15px;
}
.Connect-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.Connect-input{
    color: whitesmoke;
    padding: 7px;
    width: 100%;
    border: none;
    border-bottom: 1px solid red;
    background-color: transparent;
}
.Connect-input:focus{
    outline: none;
}
.Connect-button{
    color: whitesmoke;
    font-weight: 700;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid red;
    padding: 7px;
    transition: all 0.3s;
}
.Connect-button:hover{
    color: black;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.Social-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Social-icons span:hover{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.Social-icons span{
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1.3rem;
    padding: 0.4rem;
    background: linear-gradient(to right, #bafe7b,#04bef2);
    border-radius: 50%;
}
.fa-facebook{
    color: #1877F2;
}
.fa-linkedin{
    color: #0077B5;
}
.fa-github{
    color: #181717;
}
.fa-instagram{ 
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.Footer-content{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 1rem;
}
.TermsUl{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.TermsUl li a{
    color: blue;
    text-decoration: none;
}
@media screen and (max-width: 642px){
    .Footer-Sub{
        display: block;
    }
    .Footer-Sub-1,
    .Footer-Sub-2,
    .Footer-sub-3{
        margin-left: auto;
        margin-right: auto;
    }
    .Footer-Sub-2{
        margin-top: 1rem;
    }
}