<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/add.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Head Phones</title>
    <style>
        
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <div class="AddProducts_div">
        <div class="sub_productContainer">
            <form action="" method="POST" class="Main_form" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Add Head phone</h2>
                <div class="laptop_name"><hr><br>
                    <label for="" class="Labels">Headphone Name:</label><br>
                    <input type="text" name="HeadphoneName" id="" placeholder="Enter Headphone Name" class="Inputs">
                </div>
                <div class="Model_product"><br>
                    <label for="" class="Labels">Model:</label><br>
                    <input type="text" name="Model" placeholder="Enter Model" class="Inputs">
                </div>
                <div class="Price_div"><br>
                    <label for="" class="Labels">Price:</label><br>
                    <input type="number" name="Price" id="" placeholder="Enter Price" class="Inputs">
                </div>
                <div class="ProductImag"><br>
                    <label for="" class="Labels">Upload image:</label><br>
                    <input type="file" name="Images" id="" class="Inputs">
                </div>
                <div class="Submit_div"><br>
                    <input type="submit" class="Submits" value="SUBMIT">
                </div>
            </form>
        </div>
    </div>
</body>
</html>