<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>home</title>
    <style>

    </style>
</head>
<body>
    {% include 'nav.html' %}
    <div class="MainContainer">
        <div class="subContainer">
            <h1 class="GalaryH1">Collections</h1>
            <div class="category">
                {% for x in category %}
                <a href="/Products/{{ x.name }}/">
                    <div class="ImagesDiv">
                        <h2 class="CategoryName">{{x.name}}</h2>
                        <img src="{{x.Images.url}}" alt="" class="CategoryImages">
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'Footer.html' %}
</body>
</html>